h2{
  background-color: orange;
}


ul{
  padding: 1em 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  li{
    button{
      padding: 0.5em 1em;
      border: none;
      border-radius: 100px;
      background-color: rgba(128, 128, 128, 0.186);
      font-size: 18px;
    }

    button.current-route{
      background-color: seagreen;
      color: white;
    }
  }
}

