<h1>GRID LEARNING</h1>

<div class="flex">
    <div class="flex-item"></div>
    <div class="flex-item"></div>
    <div class="flex-item"></div>
</div>

<br><br>
<!-- <h1 class="anima">TESTING ANIMATIONS</h1> -->
<!-- <button>CSS</button> -->
<button (click)="changeClass()" #btn [ngClass]="isAnimation ? 'anima':''" #animaBtn></button>
<br><br>


<div class="grid">
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
</div>

<div class="grid2">
    <div class="grid2-item"></div>
    <div class="grid2-item"></div>
    <div class="grid2-item"></div>
    <div class="grid2-item"></div>
    <div class="grid2-item"></div>
    <div class="grid2-item"></div>
    <div class="grid2-item"></div>
</div>

<button (click)="changeClass()" #btn [ngClass]="isAnimation ? 'anima':''" #animaBtn></button>

<button (click)="changeClass()" #btn [ngClass]="isAnimation ? 'anima':''" #animaBtn></button>

<button (click)="changeClass()" #btn [ngClass]="isAnimation ? 'anima':''" #animaBtn></button>

<button (click)="changeClass()" #btn [ngClass]="isAnimation ? 'anima':''" #animaBtn></button>
