<h1>
  This is my {{title}}
</h1>

<h1 class="{{title}}">{{user.name}}</h1>
<p>{{'This is the information of ' + user.name + '. His age is ' + user.age + '. And his profession is ' +
  user.profession}}</p>
<ul>
  <li>{{students[0]}}</li>
  <li>{{students[1]}}</li>
  <li>{{students[2]}}</li>
</ul>

<h2>{{getData()}}</h2>

<h1>{{cgpaCalc(4,8)}}</h1>

<p>
  {{getUserData(0)}}
</p>

<form action="">
  <input type="text" placeholder="Email">
  <input type="password" class="{{isPasswordValid ? '':'border-red'}}" placeholder="Password">
  <button class="">{{isAuthenticated ? 'Login':'Signup'}}</button>
</form>