<!-- <h1>
  This is my {{title}}
</h1>

<h1 class="{{title}}">{{user.name}}</h1>
<p>{{'This is the information of ' + user.name + '. His age is ' + user.age + '. And his profession is ' +
  user.profession}}</p>
<ul>
  <li>{{students[0]}}</li>
  <li>{{students[1]}}</li>
  <li>{{students[2]}}</li>
</ul>

<h2>{{getData()}}</h2>

<h1>{{cgpaCalc(4,8)}}</h1>

<p>
  {{getUserData(0)}}
</p>

<form action="">
  <input type="text" placeholder="Email">
  <input type="password" class="{{isPasswordValid ? '':'border-red'}}" placeholder="Password">
  <button class="">{{isAuthenticated ? 'Login':'Signup'}}</button>
</form> -->


<div class="header">
  <!-- This is working as a separate div -->
  <!-- <app-header></app-header> -->
</div>


<!-- <app-header></app-header> -->

<!-- <div class="flex">
  <button (click)="changeDepartment('student')">Student</button>
  <button (click)="changeDepartment('teacher')">Teacher</button>
</div>


<div *ngIf="activeDepartment == 'student'">
  <app-student-dashboard></app-student-dashboard>
</div>

<div *ngIf="activeDepartment == 'teacher'">
  <app-teacher-dashboard></app-teacher-dashboard>
</div> -->


<!-- 12/11/2023 -->

<!-- <br><br>

<input type="text" #inputText>
<button (click)="inputSubmit(inputText)">Submit</button>
<h1>{{inputValue}}</h1>

<br><br>

<div class="form">
  <form action="" #formElement>
    <div>
      <label for="">Email</label>
      <input type="text" placeholder="Email" name="email">
    </div>
    <div>
      <label for="">Password</label>
      <input type="password" placeholder="Email" name="password">
    </div>
  </form>
</div>

<br>
<button (click)="submitForm(formElement)">Submit Form</button>


<h1>
  {{objValue}}
</h1>

<hr>

<input type="text" #name (input)="getInput(name.value)">
<h1>{{nameInputVar}}</h1>


<hr>
<input type="text" #url>
<button (click)="changeImage(url.value)">Change Image</button>
<div class="img">
  <img [src]="imgUrl" alt="" class="image">
</div> -->


<!-- <app-if-else></app-if-else> -->

<!-- 12-13-2023 -->
<!-- NG FOR LOOP -->
<!-- <app-ng-for></app-ng-for> -->

<!-- NG MODEL -->
<app-ng-model></app-ng-model>