
<h1>{{'asfasdfk' | titlecase}}</h1>

<br><br>

<h1>{{date | date : 'shortDate'}}</h1>
<h1>{{date | date : 'shortTime'}}</h1>
{{date | date:'short':timeZone}}


<br><br>

<select name="" id="" (change)="valueSelected(selectBox.value)" #selectBox>
    <option value="{{opt.value}}" *ngFor="let opt of arr2 | slice">{{opt.title}}</option>
</select>

<br><br>

<select name="" id="" (change)="valueSelected(selectBox2.value)" #selectBox2>
    <option value="{{opt}}" *ngFor="let opt of arr">{{opt | stringSeparator | titlecase}}</option>
</select>

<br><br>

<h1>{{'246546334' | comma}}</h1>


<input type="text" [(ngModel)]="searchValue">
<table>
    <tr *ngFor="let item of arr2 | search: searchValue ">
    <td  style="padding-block: 0.25em;">{{item.title}}</td>
    <td  style="padding-block: 0.25em;">{{item.value}}</td>
    </tr>
</table>



<textarea name="" [(ngModel)]="textarea" id="" cols="30" rows="10"></textarea>
{{textarea}}